@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins';
  display: flex;
  justify-content: center;
  min-height: 100vh;
  transition: background-color 0.3s ease, color 0.3s ease;
}
main {
  position: relative;
  padding-top: 50px;
  max-width: 800px;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

h1 {
  font-weight: 400;
  align-items: center;
}
.header {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  width: 100%;
  align-items: center;
  position: relative;
}

.input-icon-wrapper {
  position: relative;
  width: 100%;
}

.input-icon-wrapper > input {
  border: 1px solid #6c63ff;
  font-size: 1.2rem;
  padding: 10px 50px 10px 40px;
  width: 100%;
  border-radius: 5px;
}

.input-icon-wrapper .fa-magnifying-glass {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: #6c63ff !important;
  pointer-events: none;
  font-size: 1.2rem;
}
.input-icon-wrapper > input:focus {
  outline: none;
  border-color: #5850f5;
  box-shadow: 0 0 5px 2px rgba(88, 80, 245, 0.4);
}

::placeholder {
  color: #6b63ff60;
}

.dropdown-btn {
  display: flex;
  justify-content: start;
  border: none;
  background-color: #6c63ff;
  color: white;
  font-family: inherit;
  padding: 10px 50px;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
  position: relative;
}
.dropdown-btn:hover {
  background: #5850f5;
}
.theme {
  background-color: #6c63ff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 1.2rem;
}
.theme:hover {
  background-color: #5850f5;
}

/* dropdown */
.dropdown {
  position: relative;
  z-index: 2;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
  margin-top: 10px;
  border: 1px solid #6c63ff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  gap: 0.7rem;
  box-shadow: 0 0 5px 2px rgba(88, 80, 245, 0.4);
}
.dropdown-menu > button {
  background: none;
  border: none;
  font-size: 1rem;
  width: 120px;
  font-weight: bold;
  text-align: left;
  color: #5850f5;
  cursor: pointer;
  transition: ease;
  padding: 5px;
}
.dropdown-menu > button:hover {
  background-color: #5850f552;
}

/* notes */

.content {
  width: 100%;
  max-width: 600px;
  height: 100%;
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}
.note-content {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  font-size: 1.2rem;
  border-bottom: 1px solid #6c63ff;
  padding-bottom: 15px;
}
.note {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#note-text {
  font-weight: 600;
}
input[type='checkbox'] {
  width: 20px;
  height: 20px;
  accent-color: #6c63ff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.note-btn {
  display: flex;
  gap: 1rem;
}
.fa-pen,
.fa-trash {
  color: #99999985;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.note-btn > button {
  background: none;
  border: none;
}
.fa-pen:hover {
  color: green;
}
.fa-trash:hover {
  color: red;
}

.add-note-btn {
  position: absolute;
  bottom: 50px;
  right: 20px;
  width: 60px;
  height: 60px;
  border: none;
  background: #6c63ff;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 16px rgba(108, 99, 255, 0.4);
  transition: background 0.3213s ease;
}
.add-note-btn:hover {
  background: #5850f5;
}

/* hidden visibility */

.blur-effect {
  filter: blur(3px);
  transition: filter 0.3s ease;
  z-index: 3;
}
.add-note {
  z-index: 999;
  position: fixed;
  width: 500px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 50px;
  border-radius: 15px;
  padding: 20px 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
  transition: opacity 200ms ease, transform 200ms ease;
}
.add-note.active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.add-note > input {
  border: 1px solid #6c63ff;
  font-size: 1.2rem;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
}
.add-note input:focus {
  outline: none;
  border-color: #5850f5;
  box-shadow: 0 0 5px 2px rgba(88, 80, 245, 0.4);
}
input[type='text'] {
  color: #6c63ff;
  font-weight: bold;
  font-size: 1rem;
  padding: 10px;
}
.buttons {
  margin-top: 7rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.buttons > button {
  font-size: 1rem;
  font-weight: bold;
  color: #6c63ff;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #6c63ff;
  cursor: pointer;
}
.buttons button:first-child {
  background-color: white;
}
.buttons button:last-child {
  color: white;
  background-color: #6c63ff;
}
.buttons button:first-child:hover {
  color: white;
  background-color: #6c63ff;
}
.buttons button:last-child:hover {
  background-color: #5850f5;
}

.completed {
  text-decoration: line-through;
  color: #2e2d2d85;
}
.note-text {
  font-weight: 500;
}

/* dark themes */
body.light {
  background-color: #f5f5f5;
  color: #222;
}

body.dark {
  background-color: #222;
  color: #f5f5f5;
}

.theme,
.dropdown-btn,
.add-note-btn,
input,
.note-content {
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}
.hidden {
  display: none;
}
.note-text.editing {
  outline: 1px solid #6c63ff;
}
